@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply min-h-screen ;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


html {
  font-size: 14px;
}

@screen sm {
  html {
    font-size: 14px;
  }
}

@screen lg {
  html {
    font-size: 16px;
  }
}


/*--------------------CONTAINER--------------------*/
.container {
  @apply max-w-[84rem] px-5 min-[1364px]:px-0;
}

/*--------------------CONTAINER--------------------*/


/*--------------------BTNS_STYLES--------------------*/
.btn-lg {
  @apply min-h-[2rem] max-h-[3rem];
}

/*--------------------BTNS_STYLES--------------------*/