@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply min-h-screen bg-bg_content;
}

input,
textarea {
  @apply bg-transparent outline-none border-none;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


html {
  font-size: 14px;
}

@screen sm {
  html {
    font-size: 14px;
  }
}

@screen lg {
  html {
    font-size: 16px;
  }
}


/*--------------------CONTAINER--------------------*/
.container {
  @apply max-w-[84rem] px-5 min-[1364px]:px-0;
}

/*--------------------CONTAINER--------------------*/


/*--------------------BTNS_STYLES--------------------*/
.btn-lg {
  @apply min-h-[2rem] max-h-[3rem];
}

/*--------------------BTNS_STYLES--------------------*/


/*----------Start : Swiper Free Mode-----------*/
.swiper_width_auto {
  @apply w-auto !important;
}

/*----------End : Swiper Free Mode-----------*/


/*----------start : short-text-3-----------*/

.short-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.short-text-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.short-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*----------End : short-text-3-----------*/