@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  @apply min-h-screen bg-bg_content;
}

input,
textarea {
  @apply bg-transparent outline-none ;
}


::-webkit-scrollbar {
  @apply w-[0.625rem] h-[0.625rem];

}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-500 rounded-lg cursor-pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

:focus-visible {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


html {
  font-size: 16px;
}

@screen sm {
  html {
    font-size: 16px;
  }
}

@screen lg {
  html {
    font-size: 16px;
  }
}


/*--------------------CONTAINER--------------------*/
.container {
  @apply max-w-[84rem] px-5 min-[1364px]:px-0;
}

/*--------------------CONTAINER--------------------*/


/*--------------------BTNS_STYLES--------------------*/
.btn-lg {
  @apply min-h-[2rem] max-h-[3rem];
}

/*--------------------BTNS_STYLES--------------------*/


/*----------Start : Swiper Free Mode-----------*/
.swiper_width_auto {
  @apply w-auto !important;
}

/*----------End : Swiper Free Mode-----------*/


/*----------start : short-text-3-----------*/

.short-text-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.short-text-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.short-text-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*----------End : short-text-3-----------*/

/*----------start : Loader-----------*/
@keyframes loadingCircleOne {
  0% {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(360deg);
  }
}

@keyframes loadingCircleTwo {
  0% {
    transform: rotateX(50deg) rotateY(15deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(50deg) rotateY(15deg) rotateZ(360deg);
  }
}

@keyframes loadingCircleThree {
  0% {
    transform: rotateX(15deg) rotateY(50deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(15deg) rotateY(50deg) rotateZ(360deg);
  }
}

/*----------End : Loader-----------*/



/*----------Start :gradient-----------*/
.gradient_after::after {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, #008582 50%, rgba(255, 255, 255, 1) 100%);
}

/*----------End :gradient-----------*/